
.container {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background-color: #000000;
  border: 1px solid #ccc;
  border-radius: 8px;

  text-align: center;
  font-family: 'Arial', sans-serif;

  .amount {
    font-size: 24px;
    color: #dddddd;
    margin-bottom: 10px;
  }

  .info {
    font-size: 14px;
    color: #aeaaaa;
    margin-bottom: 20px;
  }

button {
  padding: 10px 20px;
  background-color: #e74c3c; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: #c0392b;
  }

  &:focus {
    outline: none;
  }
}

}
