/* .signUp class remains unchanged */
.signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 600px;
  padding: 20px;
  top: 50%;
  left: 50%;
  box-shadow: 0px 0px 5px 0px rgba(180, 8, 8, 0.853);
  background-color: #1d1d1da0;
}

h2 {
  text-align: center;
  color: #f40f0f;
  margin-bottom: 20px;
}

.form-container {
  padding: 10px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  color: #e0dcdc;
  margin-bottom: 5px;
  margin-top: 10px;
}

input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: rgb(0, 110, 228);
  border-width: 2.5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #e90e0e;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #b30000;
}

p {
  text-align: center;
  margin-top: 20px;
  color: #fdfdfd;
}

a {
  color: #fdfdfd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
