* {
  margin: 0;
  

}


html,body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to top, #001f3f 40%, #246b9a); /* Dark blue to light blue gradient */
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}

